* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

.btn-subs {
  height: 33px;
  width: 150px;
  border: none;
  border-radius: 4px;
}

.btn-search {
  height: 28px;
  width: 150px;
  border: none;
}

.btn-Addcart {
  height: 30px;
  width: 130px;
}

.txt-email {
  height: 31px;
  width: 270px;
  border-radius: 3px;
  border: none;
}

.txt-search {
  height: 28px;
  width: 300px;
  border: none;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: #181818;
  color: #FDFEFF;
  border-bottom: 2px solid black;
  /*
  //Hover State Components
  .comp {
    position: absolute;
    top: 40px;
    left: 41.5%;
    display: block;
    transition: 0.5s;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    background-color: $nav-bg;
    line-height: 8px;
    li a {
      @include links-property2;
    }
    a:hover {
      color: $primary-color;
    }
  }
  */
  /*
  //Hover State Periperals
  .perip {
    position: absolute;
    top: 40px;
    left: 47.7%;
    display: block;
    transition: 0.5s;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    background-color: $nav-bg;
    line-height: 5px;

    li a {
      @include links-property2;
    }
    a:hover {
      color: $primary-color;
    }
  }
*/
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: 14px;
}

header .nav-links {
  text-decoration: none;
  text-decoration: none;
  color: #FDFEFF;
}

header a:hover {
  color: #f5ba00;
}

header .fas {
  padding-left: 10px;
}

/*
header ul li:hover .comp {
  opacity: 1;
  visibility: visible;
}

//Hover State Periperals
header ul li:hover .perip {
  opacity: 1;
  visibility: visible;
}
*/
.nav-burger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-burger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-burger {
    display: flex;
  }
  .nav-list {
    display: none;
    width: 100%;
  }
  .nav-list ul {
    flex-direction: column;
  }
  .nav-list.active {
    display: block;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header ul li ul {
    width: 100%;
    z-index: 1;
  }
}

footer {
  height: 250px;
  background-color: #181818;
  color: #FDFEFF;
  text-align: center;
  display: grid;
  align-content: center;
  padding-top: 20px;
}

footer .subscription {
  display: block;
  padding: 10px;
}

footer .payment-partners {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

footer .payment-partners img {
  height: 50px;
}

footer .payment-partners .american-exp {
  padding: 5px;
  height: 35px;
}

footer .customer, footer .payment {
  color: #128799;
}

footer .customer-service {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

footer .customer-service .links {
  text-decoration: none;
  color: #FDFEFF;
}

footer .customer-service a:hover {
  color: black;
}

.rights {
  padding-top: 10px;
  height: 20px;
  font-size: 12px;
  background-color: #090C0F;
  color: #FDFEFF;
  text-align: center;
}

.products-container {
  height: 700px;
  background-color: black;
}

.landing {
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-weight: lighter;
  border-bottom: 1px solid black;
  color: #FDFEFF;
}

.products-feature {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 1px;
}

.products-feature .product1,
.products-feature .product2,
.products-feature .product3 {
  height: 280px;
  width: 400px;
  border: 2px solid black;
}

.img-container-home {
  display: grid;
  justify-content: center;
}

.img-container-home img {
  position: relative;
  height: 210px;
  top: 1%;
}

.btn-form {
  padding: 20px;
  display: grid;
  justify-content: center;
}

.btn-view {
  height: 32px;
  width: 150px;
  border: none;
  background-color: #f5ba00;
  color: #000506;
}

.laptop-container {
  height: 700px;
  background-color: black;
  color: #FDFEFF;
}

.laptop-container .laptop-landing {
  position: relative;
  top: 14%;
  text-align: center;
}

.laptop-container .laptop-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 150px;
}

.laptop-container .laptop-list .laptop-product {
  height: 280px;
  width: 400px;
  border: 2px solid black;
  border: 2px solid white;
  height: 420px;
}

.laptop-container .laptop-list .laptop-product .img-container-laptop {
  display: grid;
  justify-content: center;
  position: relative;
  top: 5%;
}

.laptop-container .laptop-list .laptop-product .img-container-laptop img {
  position: relative;
  height: 210px;
  top: 1%;
}

.laptop-container .laptop-list .laptop-product .laptop-info {
  display: grid;
  justify-content: center;
}

.laptop-container .laptop-list .laptop-product .laptop-info li {
  margin: 10px;
}

.laptop-container .laptop-list .laptop-product .laptop-info ul li {
  font-size: 15px;
}

.laptop-container .laptop-list .laptop-product .btn-laptop-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.monitor-container {
  height: 700px;
  background-color: black;
  color: #FDFEFF;
}

.monitor-container .monitor-landing {
  position: relative;
  top: 14%;
  text-align: center;
}

.monitor-container .monitor-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 150px;
}

.monitor-container .monitor-list .monitor-product {
  height: 280px;
  width: 400px;
  border: 2px solid black;
  border: 2px solid white;
  height: 420px;
}

.monitor-container .monitor-list .monitor-product .img-container-monitor {
  display: grid;
  justify-content: center;
}

.monitor-container .monitor-list .monitor-product .img-container-monitor img {
  position: relative;
  height: 210px;
  top: 1%;
}

.monitor-container .monitor-list .monitor-product .monitor-info {
  display: grid;
  justify-content: center;
}

.monitor-container .monitor-list .monitor-product .monitor-info li {
  margin: 10px;
}

.monitor-container .monitor-list .monitor-product .monitor-info ul li {
  font-size: 15px;
}

.monitor-container .monitor-list .monitor-product .btn-monitor-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.components-container {
  height: 579px;
  background-color: black;
  color: #FDFEFF;
  display: grid;
  justify-content: center;
}

.components-container .products-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.components-container .products-showcase .gpu,
.components-container .products-showcase .mobo {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.components-container .products-showcase .gpu .img-container-comp,
.components-container .products-showcase .mobo .img-container-comp {
  display: grid;
  justify-content: center;
}

.components-container .products-showcase .gpu .img-container-comp img,
.components-container .products-showcase .mobo .img-container-comp img {
  position: relative;
  height: 170px;
  top: 1%;
}

.components-container .products-showcase .gpu .product-name,
.components-container .products-showcase .mobo .product-name {
  display: grid;
  justify-content: center;
}

.components-container .products-showcase .gpu .product-name p,
.components-container .products-showcase .mobo .product-name p {
  padding: 10px;
}

.periperals-container {
  height: 580px;
  background-color: black;
  color: #FDFEFF;
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.periperals-container .periperals-showcase .keyboard,
.periperals-container .periperals-showcase .mouse,
.periperals-container .periperals-showcase .headset {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.periperals-container .periperals-showcase .img-container-perip {
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase .img-container-perip img {
  position: relative;
  height: 170px;
  top: 1%;
}

.periperals-container .periperals-showcase .periperal-name {
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase .periperal-name p {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */