@charset "UTF-8";
/*Media Querys*/
/*Screen Breakpoints*/
/*Notes
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica;
}

.btn-subs {
  height: 33px;
  width: 270px;
  border: 1px solid #f5ba00;
  border-radius: 4px;
  background-color: #181818;
  color: #f5ba00;
}

.btn-search {
  height: 28px;
  width: 150px;
  border: none;
}

.btn-primary, .btn-BrowseProd, .btn-checkout {
  height: 30px;
  width: 130px;
  border: 1px solid #f5ba00;
  border-radius: 4px;
  cursor: pointer;
  background-color: #181818;
  color: #f5ba00;
}

.col, .row {
  height: 30px;
  width: 50px;
}

.product-layout {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.btn-BrowseProd, .btn-checkout {
  height: 32px;
  width: 150px;
}

.btn-checkout {
  color: white;
  height: 45px;
}

.btn-minus,
.btn-add {
  height: 31px;
  width: 30px;
}

.btn-form {
  padding: 20px;
  display: grid;
  justify-content: center;
}

.btn-view {
  height: 32px;
  width: 150px;
  border: none;
  background-color: #f5ba00;
  color: #000506;
}

@media (max-width: 480px) {
  .btn-subs {
    width: 100%;
  }
}

.txt-email {
  height: 31px;
  width: 270px;
  border-radius: 3px;
  border: none;
}

.txt-search {
  height: 28px;
  width: 300px;
  border: none;
}

.txt-quantity {
  height: 27px;
  width: 65px;
}

@media (max-width: 480px) {
  .txt-email {
    width: 100%;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: #181818;
  color: #FDFEFF;
  border-bottom: 2px solid black;
  /*
  //Hover State Components
  .comp {
    position: absolute;
    top: 40px;
    left: 41.5%;
    display: block;
    transition: 0.5s;
    width: 140px;
    opacity: 0;
    visibility: hidden;
    background-color: $nav-bg;
    line-height: 8px;
    li a {
      @include links-property2;
    }
    a:hover {
      color: $primary-color;
    }
  }
  */
  /*
  //Hover State Periperals
  .perip {
    position: absolute;
    top: 40px;
    left: 47.7%;
    display: block;
    transition: 0.5s;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    background-color: $nav-bg;
    line-height: 5px;

    li a {
      @include links-property2;
    }
    a:hover {
      color: $primary-color;
    }
  }
*/
}

header .nav-logo {
  text-decoration: none;
  color: #FDFEFF;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: 14px;
}

header .nav-links {
  text-decoration: none;
  text-decoration: none;
  color: #FDFEFF;
}

header a:hover {
  color: #f5ba00;
}

header .fas {
  padding-left: 10px;
}

/*
header ul li:hover .comp {
  opacity: 1;
  visibility: visible;
}

//Hover State Periperals
header ul li:hover .perip {
  opacity: 1;
  visibility: visible;
}
*/
.nav-burger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-burger .bar {
  height: 3px;
  width: 100%;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-logo {
    margin-top: 10px;
    margin-left: 12px;
  }
  .nav-burger {
    display: flex;
  }
  .nav-list {
    display: none;
    width: 100%;
  }
  .nav-list ul {
    flex-direction: column;
  }
  .nav-list.active {
    display: block;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  header ul li ul {
    width: 100%;
    z-index: 1;
  }
}

footer {
  height: 350px;
  background-color: #181818;
  color: #FDFEFF;
  text-align: center;
  display: grid;
  align-content: center;
  padding-top: 20px;
}

footer .subscription {
  display: block;
  padding: 10px;
}

footer .subscription .fields {
  padding: 10px;
}

footer .payment-partners {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

footer .payment-partners img {
  height: 50px;
}

footer .payment-partners .american-exp {
  padding: 5px;
  height: 35px;
}

footer .customer,
footer .payment {
  color: #128799;
}

footer .customer-service {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}

footer .customer-service .links {
  text-decoration: none;
  color: #FDFEFF;
}

footer .customer-service a:hover {
  color: black;
}

.rights {
  padding-top: 10px;
  height: 20px;
  font-size: 12px;
  background-color: #090c0f;
  color: #FDFEFF;
  text-align: center;
}

@media (max-width: 480px) {
  footer {
    font-size: 1rem;
    height: 520px;
  }
  footer .payment-partners {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
  footer .customer-service {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

.product-landing-intro {
  min-height: 90px;
  padding-top: 10px;
  background-color: #000000;
  color: #FDFEFF;
}

.product-landing-intro h1 {
  color: #f5ba00;
  font-weight: bold;
}

.product-landing-intro p {
  text-align: center;
  line-height: 1.6;
  padding: 21px;
}

.product-landing-container {
  min-height: 520px;
  background-color: #000000;
  color: #FDFEFF;
}

.product-landing-container .product-landing-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.product-landing-container .product-landing-showcase .product-landing-list {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.product-landing-container .product-landing-showcase .product-landing-list .product-landing-img {
  display: grid;
  justify-content: center;
}

.product-landing-container .product-landing-showcase .product-landing-list .product-landing-img img {
  position: relative;
  height: 180px;
  top: 1%;
}

.product-landing-container .product-landing-showcase .product-landing-list .product-landing-specs {
  text-align: center;
  font-size: 14px;
}

.product-landing-container .product-landing-showcase .product-landing-list .product-landing-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

@media (max-width: 480px) {
  .product-landing-container .product-landing-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .product-landing-container .product-landing-showcase .product-landing-list {
    width: 300px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .product-landing-container .product-landing-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .product-landing-container .product-landing-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1418px) {
  .product-landing-container .product-landing-showcase {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }
}

.product-container {
  min-height: 880px;
  background-color: #000000;
  color: #FDFEFF;
  padding: 20px;
}

.product-container .product-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.product-container .product-content .product-img {
  display: grid;
  justify-content: center;
}

.product-container .product-content .product-img img {
  height: 250px;
}

.product-container .product-info .price {
  display: flex;
  justify-content: center;
  justify-content: start;
}

.product-container .product-info p {
  padding: 5px 10px;
}

.product-container .qty-container {
  display: flex;
  justify-content: center;
  justify-content: start;
  gap: 10px;
}

.product-container .qty-container p {
  padding: 5px 10px;
}

.product-container .product-btn {
  padding: 10px;
}

/*Product Specs*/
.product-specs {
  font-size: 16px;
}

.product-specs h1 {
  padding: 15px;
}

.product-specs .tbl-specs {
  display: grid;
  justify-content: center;
  border-collapse: collapse;
  width: 100%;
}

.product-specs .tbl-specs td,
.product-specs .tbl-specs th {
  border-bottom: 1px solid #f4f4f4;
  padding: 8px;
  text-align: left;
  width: 500px;
  font-weight: normal;
}

@media (max-width: 480px) {
  .product-container .product-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 16px;
  }
  .product-container .product-info {
    text-align: center;
    padding: 10px;
  }
  .product-container .qty-container {
    display: flex;
    justify-content: center;
  }
  .product-container .product-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .product-specs .tbl-specs {
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 1024px) {
  .product-container .product-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .product-container .product-info {
    text-align: center;
    padding: 10px;
  }
  .product-container .qty-container {
    display: flex;
    justify-content: center;
  }
  .product-container .product-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}

.products1-container {
  min-height: 700px;
  background-color: black;
}

.landing {
  min-height: 200px;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  line-height: 1.6;
}

.landing h1 {
  color: #f5ba00;
  font-weight: bold;
}

.landing p {
  color: #FDFEFF;
}

h1 {
  margin-top: 15px;
  text-align: center;
  font-weight: lighter;
  border-bottom: 1px solid black;
  color: #FDFEFF;
}

.products-feature {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 1px;
}

.products-feature .products {
  height: 280px;
  width: 400px;
}

.img-container-home {
  display: grid;
  justify-content: center;
}

.img-container-home img {
  position: relative;
  height: 210px;
  top: 1%;
}

/*Media Query*/
@media (max-width: 480px) {
  .products1-container {
    font-size: 1rem;
  }
  .products1-container .landing {
    font-size: 15px;
  }
  .products1-container .products-feature {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .products1-container .products-feature .products {
    height: 280px;
    width: 400px;
    width: 100px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .products1-container .products-feature {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .products1-container .products-feature {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

.laptop-landing {
  min-height: 100px;
  background-color: #000000;
  color: #FDFEFF;
  line-height: 1.6;
  padding: 10px;
}

.laptop-landing h1 {
  color: #f5ba00;
  font-weight: bold;
}

.laptop-landing p {
  text-align: center;
  line-height: 1.6;
  padding: 25px;
}

.laptop-container {
  min-height: 470px;
  background-color: black;
  color: #FDFEFF;
}

.laptop-container .laptop-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.laptop-container .laptop-list .laptop-product {
  height: 280px;
  width: 400px;
  border: 2px solid white;
  height: 420px;
}

.laptop-container .laptop-list .laptop-product .img-container-laptop {
  display: grid;
  justify-content: center;
  position: relative;
  top: 5%;
}

.laptop-container .laptop-list .laptop-product .img-container-laptop img {
  position: relative;
  height: 210px;
  top: 1%;
}

.laptop-container .laptop-list .laptop-product .laptop-info {
  display: grid;
  justify-content: center;
}

.laptop-container .laptop-list .laptop-product .laptop-info li {
  margin: 10px;
}

.laptop-container .laptop-list .laptop-product .laptop-info ul li {
  font-size: 15px;
}

.laptop-container .laptop-list .laptop-product .btn-laptop-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

@media (max-width: 480px) {
  .laptop-container .laptop-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .laptop-container .laptop-list .laptop-info {
    font-size: 15px;
  }
  .laptop-container .laptop-list .laptop-product {
    width: 310px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .laptop-container {
    padding: 10px;
  }
  .laptop-container .laptop-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .laptop-container {
    padding: 10px;
  }
  .laptop-container .laptop-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1270px) {
  .laptop-container .laptop-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

.monitor-container {
  min-height: 470px;
  background-color: black;
  color: #FDFEFF;
}

.monitor-container .monitor-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.monitor-container .monitor-list .monitor-product {
  height: 280px;
  width: 400px;
  border: 2px solid white;
  height: 420px;
}

.monitor-container .monitor-list .monitor-product .img-container-monitor {
  display: grid;
  justify-content: center;
}

.monitor-container .monitor-list .monitor-product .img-container-monitor img {
  position: relative;
  height: 210px;
  top: 1%;
}

.monitor-container .monitor-list .monitor-product .monitor-info {
  display: grid;
  justify-content: center;
}

.monitor-container .monitor-list .monitor-product .monitor-info li {
  margin: 10px;
}

.monitor-container .monitor-list .monitor-product .monitor-info ul li {
  font-size: 15px;
}

.monitor-container .monitor-list .monitor-product .btn-monitor-form {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 15px;
}

.monitor-intro {
  min-height: 100px;
  background-color: #000000;
  color: #FDFEFF;
  padding: 10px;
  line-height: 1.6;
}

.monitor-intro h1 {
  color: #f5ba00;
  font-weight: bold;
}

.monitor-intro p {
  text-align: center;
  line-height: 1.6;
  padding: 25px;
}

@media (max-width: 480px) {
  .monitor-container .monitor-list {
    padding: 1px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .monitor-container .monitor-list .monitor-product {
    width: 300px;
  }
  .monitor-intro {
    font-size: 16px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .monitor-container .monitor-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .monitor-container .monitor-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1270px) {
  .monitor-container .monitor-list {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

.components-container {
  min-height: 579px;
  background-color: black;
  color: #FDFEFF;
  display: grid;
  justify-content: center;
}

.components-container .products-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.components-container .products-showcase .gpu,
.components-container .products-showcase .mobo {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.components-container .products-showcase .gpu .img-container-comp,
.components-container .products-showcase .mobo .img-container-comp {
  display: grid;
  justify-content: center;
}

.components-container .products-showcase .gpu .img-container-comp img,
.components-container .products-showcase .mobo .img-container-comp img {
  position: relative;
  height: 170px;
  top: 1%;
}

.components-container .products-showcase .gpu .product-name,
.components-container .products-showcase .mobo .product-name {
  display: grid;
  justify-content: center;
}

.components-container .products-showcase .gpu .product-name p,
.components-container .products-showcase .mobo .product-name p {
  text-align: center;
  padding: 10px;
}

@media (max-width: 480px) {
  .components-container {
    font-size: 16px;
  }
  .components-container .products-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .components-container .products-showcase .mobo, .components-container .products-showcase .gpu {
    height: 250px;
    width: 450px;
    border: 2px solid white;
    width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .components-container .products-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .components-container .products-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

.periperals-container {
  min-height: 580px;
  background-color: black;
  color: #FDFEFF;
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.periperals-container .periperals-showcase .keyboard,
.periperals-container .periperals-showcase .mouse,
.periperals-container .periperals-showcase .headset {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.periperals-container .periperals-showcase .img-container-perip {
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase .img-container-perip img {
  position: relative;
  height: 170px;
  top: 1%;
}

.periperals-container .periperals-showcase .periperal-name {
  display: grid;
  justify-content: center;
}

.periperals-container .periperals-showcase .periperal-name p {
  text-align: center;
  padding: 10px;
}

@media (max-width: 480px) {
  .periperals-container .periperals-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .periperals-container .periperals-showcase .keyboard,
  .periperals-container .periperals-showcase .mouse,
  .periperals-container .periperals-showcase .headset {
    width: 280px;
    padding: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .periperals-container .periperals-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .periperals-container .periperals-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1270px) {
  .periperals-container .periperals-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

.gpu-container, .gpu-intro {
  min-height: 800px;
  background-color: #000000;
  color: #FDFEFF;
}

.gpu-container .product-landing-showcase, .gpu-intro .product-landing-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.gpu-container .product-landing-showcase .gpu-list, .gpu-intro .product-landing-showcase .gpu-list {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.gpu-container .product-landing-showcase .gpu-img, .gpu-intro .product-landing-showcase .gpu-img {
  display: grid;
  justify-content: center;
}

.gpu-container .product-landing-showcase .gpu-img img, .gpu-intro .product-landing-showcase .gpu-img img {
  position: relative;
  height: 180px;
  top: 1%;
}

.gpu-container .product-landing-showcase .gpu-specs, .gpu-intro .product-landing-showcase .gpu-specs {
  font-size: 14px;
  text-align: center;
}

.gpu-container .product-landing-showcase .gpu-btn, .gpu-intro .product-landing-showcase .gpu-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.gpu-intro {
  min-height: 100px;
  padding: 10px;
}

.gpu-intro h1 {
  color: #f5ba00;
  font-weight: bold;
}

.gpu-intro p {
  text-align: center;
  line-height: 1.6;
  padding: 25px;
}

@media (max-width: 480px) {
  .gpu-container .gpu-showcase, .gpu-intro .gpu-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .gpu-container .gpu-showcase .gpu-list, .gpu-intro .gpu-showcase .gpu-list {
    height: 280px;
    width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .gpu-container .gpu-showcase, .gpu-intro .gpu-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .gpu-container .gpu-showcase .gpu-list, .gpu-intro .gpu-showcase .gpu-list {
    height: 280px;
    width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .gpu-container .gpu-showcase, .gpu-intro .gpu-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .gpu-container .gpu-showcase .gpu-list, .gpu-intro .gpu-showcase .gpu-list {
    height: 280px;
    width: 420px;
  }
}

@media (min-width: 1025px) and (max-width: 1418px) {
  .gpu-container .gpu-showcase, .gpu-intro .gpu-showcase {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }
}

.motherboard-container, .motherboard-intro {
  min-height: 800px;
  background-color: #000000;
  color: #FDFEFF;
  padding: 20px;
}

.motherboard-container .product-landing-showcase, .motherboard-intro .product-landing-showcase {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.motherboard-container .product-landing-showcase .motherboard-list, .motherboard-intro .product-landing-showcase .motherboard-list {
  height: 250px;
  width: 450px;
  border: 2px solid white;
}

.motherboard-container .product-landing-showcase .motherboard-list .motherboard-img, .motherboard-intro .product-landing-showcase .motherboard-list .motherboard-img {
  display: grid;
  justify-content: center;
}

.motherboard-container .product-landing-showcase .motherboard-list .motherboard-img img, .motherboard-intro .product-landing-showcase .motherboard-list .motherboard-img img {
  position: relative;
  height: 180px;
  top: 1%;
}

.motherboard-container .product-landing-showcase .motherboard-list .motherboard-specs, .motherboard-intro .product-landing-showcase .motherboard-list .motherboard-specs {
  text-align: center;
  font-size: 14px;
}

.motherboard-container .product-landing-showcase .motherboard-list .motherboard-btn, .motherboard-intro .product-landing-showcase .motherboard-list .motherboard-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 10px;
}

.motherboard-intro {
  min-height: 100px;
}

.motherboard-intro h1 {
  color: #f5ba00;
  font-weight: bold;
}

.motherboard-intro p {
  text-align: center;
  line-height: 1.6;
}

@media (max-width: 480px) {
  .motherboard-container .motherboard-showcase, .motherboard-intro .motherboard-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
  .motherboard-container .motherboard-showcase .motherboard-list, .motherboard-intro .motherboard-showcase .motherboard-list {
    height: 280px;
    width: 285px;
  }
  .motherboard-container .motherboard-showcase .motherboard-btn, .motherboard-intro .motherboard-showcase .motherboard-btn {
    padding-top: 55px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .motherboard-container .motherboard-showcase, .motherboard-intro .motherboard-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .motherboard-container .motherboard-showcase, .motherboard-intro .motherboard-showcase {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1418px) {
  .motherboard-container .motherboard-showcase, .motherboard-intro .motherboard-showcase {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */