@mixin links-property {
  text-decoration: none;
  //Black #00050
  color: $txt-color2;
}

@mixin links-property2 {
  text-decoration: none;
  //White #FDFEFF@
  color: $txt-color;
}
//Grid
@mixin grid-property {
  display: grid;
  justify-content: center;
}
@mixin grid-format-2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
}

@mixin grid-format-3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
}

//Flexbox
@mixin flex-property {
  display: flex;
  justify-content: center;
}
@mixin flex-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//Images
@mixin image-format {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin img-container {
  @include grid-property;
  img {
    position: relative;
    height: 210px;
    top: 1%;
  }
 }

 @mixin img-container2 {
  @include grid-property;
  img {
    position: relative;
    height: 170px;
    top: 1%;
  }
 }

 @mixin img-container3 {
  @include grid-property;
  img {
    position: relative;
    height: 180px;
    top: 1%;
  }
 }

 @mixin img-container4 {
   @include grid-property;
     img{
       height: 300px;
     }
 }

@mixin list-space {
  li {
    margin: 10px;
  }
}

//Button
@mixin btn-primary{
  height: 32px;
  width: 150px;
  border: none;
  background-color: $primary-color;
  color: $txt-color2;
}