.cart-container{
    min-height: 471px;
    background-color: $primary-bg-color;
    color: $txt-color;
}
.tbl{
    display: grid;
    justify-content: center;
    gap:15px;
  }
  .cart-tbl {
    border-collapse: collapse;
    max-width: 100%;
  }
  
  .prod-img,.prod-name,.prod-quantity {
    border: none;
    text-align: left;
    padding: 12px;
  }
  .prod-img,.prod-name,.prod-quantity, img{
    height: 150px;
  }
  
  .price-div{
    color: white;
    min-height: 120px;

    label{
        padding: 15px;
    }
    .btn{
        @include grid-property;
    }
  }

  .qty-prod{
      height: 25px;
      width: 60px;
      text-align: center;
  }
  
  
  
  