.product-container {
    min-height: 880px;
    background-color: $primary-bg-color;
    color: $txt-color;
    padding: 20px;
    .product-content {
      @include grid-format-3;
      gap: 100px;
  
      .product-img {
        @include img-container4;
      }
    }
    .product-info {
        .price{
            @include flex-property;
            justify-content: start;
        }
      p {
        padding: 5px 10px;
      }
    }
    .qty-container {
      @include flex-property;
      justify-content: start;
      gap: 10px;
      p {
        padding: 5px 10px;
      }
    }
    .product-btn {
      padding: 10px;
    }
  }
  
  /*Product Specs*/
  .product-specs {
    font-size: 16px;
    h1 {
      padding: 15px;
    }
    .tbl-specs {
      display: grid;
      justify-content: center;
      border-collapse: collapse;
      width: 100%;
  
      td,
      th {
        border-bottom: 1px solid #f4f4f4;
        padding: 8px;
        text-align: left;
        width: 500px;
        font-weight: normal;
      }
    }
  }

  @include mobile-device(mobile-md){
      .product-container{
          .product-content{
           @include grid-format-4;
           gap: 0;
          }
          .product-info{
             text-align: center;
             padding: 10px;
          }
          .qty-container{
           @include flex-property;
          }
          .product-btn{
              @include flex-property;
              gap: 15px;
          }
      }
  }
@include mobile-device-lg(mobile-md, tablet-md){
  .product-container{
    .product-content{
      @include grid-format-4;
      gap: 0;
     }
     .product-info{
        text-align: center;
        padding: 10px;
     }
     .qty-container{
      @include flex-property;
     }
     .product-btn{
         @include flex-property;
         gap: 15px;
     }
  }
}