.btn-subs {
  height: 33px;
  width: 270px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  background-color: $nav-bg;
  color: $primary-color;
}
.btn-search {
  height: 28px;
  width: 150px;
  border: none;
}

.btn-primary {
  height: 30px;
  width: 130px;
  border: 1px solid $primary-color;
  border-radius: 4px;
  cursor: pointer;
  background-color: $nav-bg;
  color: $primary-color;
}

//Columns And Row
.col,.row{
  height: 30px;
  width: 50px;
}
.product-layout{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.btn-BrowseProd {
@extend .btn-primary;
height: 32px;
width: 150px;
}

.btn-checkout{
  @extend .btn-BrowseProd;
  color: white;
height: 45px;
}
.btn-minus,
.btn-add {
  height: 31px;
  width: 30px;
}
.btn-form {
  padding: 20px;
  @include grid-property;
}
.btn-view {
  @include btn-primary;
}

@include mobile-device(mobile-md) {
  .btn-subs {
    width: 100%;
  }
}
