.checkout-container{
  min-height: 550px;
  background-color: $primary-bg-color;
}
.checkout-parent{
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.checkout-forms{
  padding: 15px;
  .checkout-txt{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 0 10px 0;
  }
  .btn{
    display: flex;
    justify-content: space-between;
  }
}
.checkout-product{
  .checkout-tbl{
    display: flex;
    flex-direction: column;
  }
  color: $txt-color;
  .checkout-price{
    label{
      padding: 15px;
    }
  }
}

@include mobile-device(mobile-md){
  .checkout-parent{
    padding-bottom: 20px;
    flex-direction: column;
    text-align: center;
  }
}