.components-container {
  min-height: 579px;
  background-color: black;
  color: $txt-color;
  @include grid-property;

  .products-showcase {
    @include grid-format-3;
    padding: 40px;
    gap: 15px;
    .gpu,
    .mobo {
      @include product-box2;

      .img-container-comp {
        @include img-container2;
      }
      .product-name {
        @include grid-property;
        p {
          text-align: center;
          padding: 10px;
        }
      }
    }
  }
}

//Mobile
@include mobile-device(mobile-md) {
.components-container{
  font-size: 16px;
  .products-showcase{
    @include grid-row;
    .mobo,.gpu{
      @include product-box2;
      width: 300px;
    }
  }
}
}

@include mobile-device-lg(mobile-lg, tablet-sm){
  .components-container{
    .products-showcase{
      @include grid-format-4;
    }
  }
}
//Tablet
@include tablet-device(tablet-sm,tablet-md){
  .components-container{
    .products-showcase{
    @include grid-row;
    }
  }
}