
.gpu-container {
  min-height: 800px;
  background-color: $primary-bg-color;
  color: $txt-color;
  
  .product-landing-showcase {
    @include grid-format-3;
    gap: 20px;
    padding: 20px;

    .gpu-list {
      @include product-box2;
    }

    .gpu-img {
      @include img-container3;
    }

    .gpu-specs {
      font-size: 14px;
      text-align: center;
    }
    .gpu-btn{
      @include flex-property;
      padding-top: 10px;
      gap: 10px;
    }
  }
}
.gpu-intro {
  @extend .gpu-container;
  min-height: 100px;
  padding: 10px;
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    text-align: center;
    line-height: 1.6;
    padding: 25px;
  }
}

//Mobile
@include mobile-device(mobile-md){
  .gpu-container{
    .gpu-showcase{
      @include grid-row;
      .gpu-list{
        height: 280px;
        width: 300px;
      }
    }
  }
}

@include mobile-device-lg(mobile-lg, tablet-sm){
  .gpu-container{
    .gpu-showcase{
      @include grid-row;
      .gpu-list{
        height: 280px;
        width: 400px;
      }
    }
  }
}

//Tablet
@include tablet-device(tablet-sm, tablet-md){
  .gpu-container{
    .gpu-showcase{
      @include grid-row;
      .gpu-list{
        height: 280px;
        width: 420px;
      }
    }
  }
}

@include screen-xl(tablet-lg, screen-xl){
  .gpu-container{
    .gpu-showcase{
      @include grid-format-2;
    }
  }
}