.products-container {
  height: 700px;
  background-color: black;
}
.landing {
  height: 300px;
  width: 100%;
  //background-image: url(/images/laptopLanding.jpg);
  @include image-format;
}
h1 {
  margin-top: 15px;
  text-align: center;
  font-weight: lighter;
  border-bottom: 1px solid black;
  color: $txt-color;
}
.products-feature {
  height: 300px;
  @include grid-format-3;
  gap: 30px;
  padding-top: 1px;

  .product1,
  .product2,
  .product3 {
    @include product-box;
  }
}
.img-container-home{
  @include img-container;
}

.btn-form{
  padding: 20px;
  @include grid-property;
}
.btn-view{
  @include btn-primary;
}



