.products1-container {
  min-height: 700px;
  background-color: black;
}
.landing {
  min-height: 200px;
  padding: 20px;
  @include image-format;
  text-align: center;
  line-height: 1.6;
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    color: $txt-color;
  }
}
h1 {
  margin-top: 15px;
  text-align: center;
  font-weight: lighter;
  border-bottom: 1px solid black;
  color: $txt-color;
}
.products-feature {
  min-height: 300px;
  @include grid-format-3;
  gap: 30px;
  padding-top: 1px;

  .products {
    @include product-box;
  }
}
.img-container-home {
  @include img-container;
}

/*Media Query*/
//Mobile
@include mobile-device(mobile-md) {
  .products1-container {
    .landing{
    font-size: 15px;
    }
    //16px
    font-size: 1rem;
    .products-feature {
      @include grid-format-4;
      .products {
        @include product-box;
        width: 100px;
      }
    }
  }
}

@include mobile-device-lg(mobile-lg,tablet-sm){
  .products1-container{
    .products-feature{
      @include grid-format-4;
    }
  }
}

//Tablet
@include tablet-device(tablet-sm, tablet-md){
 .products1-container{
   .products-feature{
    @include grid-row;
   }
 }
}
