.laptop-landing {
  min-height: 100px;
  background-color: $primary-bg-color;
  color: $txt-color;
  line-height: 1.6;
  padding: 10px;
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    text-align: center;
    line-height: 1.6;
    padding: 25px;
  }
}

.laptop-container {
  min-height: 470px;
  background-color: black;
  color: $txt-color;

  .laptop-list {
    @include grid-format-3;
    gap: 25px;

    .laptop-product {
      @include product-box;
      border: 2px solid white;
      height: 420px;

      .img-container-laptop {
        @include img-container;
        position: relative;
        top: 5%;
      }

      .laptop-info {
        @include grid-property;
        @include list-space;

        ul {
          li {
            font-size: 15px;
          }
        }
      }
      .btn-laptop-form {
        @include flex-property;
        padding: 10px;
        gap: 15px;
      }
    }
  }
}

//Mobile
@include mobile-device(mobile-md) {
  .laptop-container {
    .laptop-list {
      @include grid-row;

      .laptop-info {
        font-size: 15px;
      }
      .laptop-product {
        width: 310px;
      }
    }
  }
}


@include mobile-device-lg(mobile-lg, tablet-sm){
  .laptop-container{
    padding: 10px;
    .laptop-list{
      @include grid-row;
    }
  }
}

//Tablet
@include tablet-device(tablet-sm,tablet-md){
  .laptop-container{
    padding: 10px;
    .laptop-list{
      @include grid-row;
    }
  }
}

@include screen-lg(tablet-lg,screen-lg){
  .laptop-container{
    .laptop-list{
      @include grid-format-4;
      padding: 10px;
    }
  }
}