.monitor-container {
  min-height: 470px;
  background-color: black;
  color: $txt-color;

  .monitor-list {
    @include grid-format-3;
    gap: 25px;

    .monitor-product {
      @include product-box;
      border: 2px solid white;
      height: 420px;

      .img-container-monitor {
        @include img-container;
      }
      .monitor-info {
        @include grid-property;
        @include list-space;

        ul {
          li {
            font-size: 15px;
          }
        }
      }
      .btn-monitor-form {
        @include flex-property;
        padding: 10px;
        gap: 15px;
      }
    }
  }
}
.monitor-intro {
  min-height: 100px;
  background-color: $primary-bg-color;
  color: $txt-color;
  padding: 10px;
  line-height: 1.6;
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    text-align: center;
    line-height: 1.6;
    padding: 25px;
  }
}

//Mobile
@include mobile-device(mobile-md) {
  .monitor-container {
    .monitor-list {
      padding: 1px 0 10px 0;
      @include grid-row;
      .monitor-product {
        width: 300px;
      }
   
    }
  }
  .monitor-intro{
    font-size: 16px;
  }
}

@include mobile-device-lg(mobile-md, tablet-sm){
  .monitor-container{
    .monitor-list{
      @include grid-row;
    }
  }
}

//Table
@include tablet-device(tablet-sm,tablet-md){
  .monitor-container{
    .monitor-list{
      @include grid-row;
    }
  }
}

@include screen-lg(tablet-lg,screen-lg){
  .monitor-container{
    .monitor-list{
      @include grid-format-4;
      padding: 10px;
    }
  }
}