.motherboard-container {
  min-height: 800px;
  background-color: $primary-bg-color;
  color: $txt-color;
  padding: 20px;

  .product-landing-showcase {
    @include grid-format-3;
    gap: 20px;

    .motherboard-list {
      @include product-box2;

      .motherboard-img {
        @include img-container3;
      }
      .motherboard-specs {
        text-align: center;
        font-size: 14px;
      }
      .motherboard-btn {
        @include flex-property;
        padding-top: 10px;
        gap: 10px;
      }
    }
  }
}

.motherboard-intro {
  @extend .motherboard-container;
  min-height: 100px;
  h1 {
    color: $primary-color;
    font-weight: bold;
  }
  p {
    text-align: center;
    line-height: 1.6;
    
  }
}
//Mobile
@include mobile-device(mobile-md) {
  .motherboard-container {
    .motherboard-showcase {
      @include grid-format-4;
      .motherboard-list{
        height: 280px;
        width: 285px;
      }
      .motherboard-btn{
        padding-top: 55px;
      }
    }
  }
}

@include mobile-device-lg(mobile-lg, tablet-sm){
  .motherboard-container{
    .motherboard-showcase{
      @include grid-format-4;
    }
  }
}

//Tablet
@include tablet-device(tablet-sm,tablet-md){
  .motherboard-container{
    .motherboard-showcase{
      @include grid-format-4;
    }
  }
}

//Screen Large
@include screen-lg(tablet-lg, screen-xl){
  .motherboard-container{
    .motherboard-showcase{
      @include grid-format-2;
    }
  }
}